[Unit]
Description=perf daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/perf/bin/perf record -a --working-dir=/var/tmp/perf --switch-output=1m

[Install]
WantedBy=multi-user.target
